<!DOCTYPE html>
<html lang="ko">
    <head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.6.5/ol-debug.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.6.5/ol.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.6.5/ol-debug.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.6.5/ol.js"></script>
        {% block title %}
            <title>Base.html</title>
        {% endblock %}
    </head>
<body>

{% block h %}
    <h1>this is base title</h1>
{% endblock %}


<div id="sidebar">
    <h3>side-bar</h3>
    {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog/">blog</a></li>
            <li><a href="/profile/">profile</a></li>
        </ul>
    {% endblock %}
</div>

<div id="content">
    {% block content %}
        <h2>this is base.html</h2>
        <p> base.html is base and parent template.</p>
        <p>that has many things. title, sidebar, and content</p>
    {% endblock %}
</div>


</body>
</html>