<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="/polls/{{ question.id }}"> {{ question.question_text }}</a></li>
    {% endfor %}
        <li><a href="{% url 'template_app:base' %}">template-extend-study : base </a></li>
        <li><a href="{% url 'template_app:main' %}">template-extend-study : main </a></li>

    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</body>
</html>